---
import type { GetStaticPaths } from "astro";

import Layout from '../layouts/Layout.astro'

import { type CollectionEntry, getCollection } from "astro:content";

const authors: CollectionEntry<'authors'>[] = await getCollection("authors");
---

<Layout title="barely there - authors">
    <h1>authors</h1>
       
    {authors.map((author) => (
        <div>
            <h2>{author.data.username}</h2> 
        </div>
    )) 
    }
</Layout>
