---

import Layout from '../layouts/Layout.astro'

import { CollectionEntry, getCollection } from "astro:content";

const authors = getCollection("authors")
console.log(authors)
---

<Layout title="barely there - authors">
    <h1>Authors</h1>
       
    <!-- {authors.map((author) => ( -->
        <div>
            <!-- <h2>{author.firstname}</h2> -->
        </div>
    <!-- )) -->
</Layout>