---
import Layout from '../layouts/Layout.astro';
---

<Layout title="barely there" current="/blogs">
	<h2>
		Blog
	</h2>
	<p>---</p>
	<br/>
	<h3>Blogs</h3>
	<br/>

	

	<ul>
		<li>
			<a href="/blogs/one">1. one</a>
		</li>
		<li>
			<a href="/blogs/two">2. two </a>
		</li>

	</ul>
</Layout>

