---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
---

<Layout title="barely there - blogs" current="/blogs">
	<div>
        <ul>
            {posts.map(post => (
                <li>
                    {console.log(post.data.username)}
                    <a href={`/blogs/${post.slug}`}>{post.data.username.id} // {post.data.title}</a>
                    </li>
                    ))}
    </ul>
</div>
</Layout>

