---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import ContentWrapper from '../components/ContentWrapper.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const links = [
	{ href: "/", text: "home", cur: true },
	{ href: '/releases', text: 'releases', cur: false },
	{ href: '/shows', text: 'shows', cur: false },
	{ href: '/contact', text: 'contact', cur: false },
]



---

<Layout title="Barely There Records">
	<main class=" m-auto p-4 max-w-screen-lg ">
		<Header />
		<Navbar links={links} />		
		<ContentWrapper>
				<h2>
					News
				</h2>
				<p>---</p>
				<br/>
				<h3>Conditioner - COW</h3>
				<br/> <p>Conditioner Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maiores dicta aliquam, animi corrupti assumenda eos facere beatae ipsum porro.</p>
				<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1028667214/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://ccconditionerrr.bandcamp.com/album/low-point">LOW POINT by CONDITIONER</a></iframe>
		</ContentWrapper>
		<Footer/>
</Layout>

<style>
	main {
		color: rgb(236, 235, 238);
		font-family: dotgothic16;
	}


</style>
