---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home" current="/" layout="content">
		<h2 slot="sidebar">
			home
		</h2>
		<div slot="sidebar ">
			<p>---</p>
			<br/>
			<h3>Conditioner - COW</h3>
			<br/> <p>Conditioner Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maiores dicta aliquam, animi corrupti assumenda eos facere beatae ipsum porro.</p>
		</div>
</Layout>
