---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Glen May" current="/code">
	<h2>
		Releases
	</h2>
	<p>---</p>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
	<br/>
	<h3>Releases - Aug 2023</h3>
	<br/>
</Layout>