---
import AlbumCarousel from '../components/AlbumCarousel/AlbumCarousel';
import Layout from '../layouts/Layout.astro';
---

<Layout title="barely there - releases" current="/releases">
	<h2>
		About
	</h2>
	<p>---</p>
	<br/>
	<h3>Releases </h3>
	<br/>
	<p>This is placeholder copy for the releases page. We'll talk about what you want here exactly, but there is some capacity to make something cool like a music player or at least a popover. We</p>
	<AlbumCarousel />
</Layout>