---
import AlbumGallery from '@components/AlbumGallery.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const releases = await getCollection("releases");
---

<Layout title="releases" current="/releases" layout="content">
	<h1 slot="sidebar">Releases</h1>
	<div slot="content">
		<AlbumGallery />
	</div>
</Layout>