---
import AlbumCarousel from '../components/AlbumCarousel/AlbumCarousel';
import Layout from '../layouts/Layout.astro';
---

<Layout title="barely there - releases" current="/releases">
	<h2>
		releases
	</h2>
	<AlbumCarousel />
</Layout>