---
import AlbumGallery from '@components/AlbumGallery.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="releases" current="/releases" layout="content">
	<h1 slot="subtitle">Releases</h1>
	<div slot="content">
		<AlbumGallery />
	</div>
</Layout>