---
import Layout from '../layouts/Layout.astro';

---

<Layout title="shows" current="/shows" layout="content">
  <h1 slot="subtitle">Shows</h1>
  <div slot="content">
    <ul>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
    </ul>

  </div>



</Layout>