---
import Layout from '../layouts/Layout.astro';
---

<Layout title="zines" current="/zines" layout="content">
	<h2 slot="sidebar">
		zines
	</h2>
	<div slot="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis, fuga accusantium veniam labore voluptatibus doloremque consectetur ab provident et dolore asperiores sequi natus a amet suscipit, eius, sed eveniet?Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis rem velit optio atque inventore numquam vero sunt quas delectus architecto, est consequatur, culpa a ipsum impedit id amet accusamus aperiam.lorem</p>
	</div>
</Layout>