---
import { getDataEntryById } from 'astro:content';
import { getCollection } from 'astro:content';

interface Props {
    post:{
        title: string;
        username: string;
        description: string;
        tag: string;
        draft: boolean;
        date: string;
        slug: string;
        relatedPosts: string[];
        content: string;
    }
}

const { title, username, date, relatedPosts, description } = Astro.props.post

---

<div>
    <div class="bg-black text-white mr-2 sm:mr-0">
        <div class=>
            <h1 class="text-4xl">
                {title}
            </h1>
            
            <h2 class="text-1xl">
                <a href=`../authors/${username}`>
                    {username}
                </a>
            </h2>
        </div>
    </div>

    <div>
        <p>
            {description}
        </p>
        <p>
            {
            date.split('T')[0]
            }
        </p>


        
        <p>
            related: 
            {
                console.log(relatedPosts)
            }
        </p>
    </div>
    <hr/>
    <div class="content">
        <slot/> 
    </div>
</div>


<style>

    a {
        box-shadow: inset 0 -2px 0 0 #000;
    }
    
    a:hover{
        color: white;
        background-color: #000;
    }

</style>
