<div class="content-wrapper max-w-screen-lg mx-auto mt-8 sm:mt-0">
    <div class="inner-content-wrapper  relative w-auto rounded-sm min-h-screen border-2 p-6">
        <slot />
    <div class="inner-content-wrapper  relative w-auto rounded-sm min-h-screen border-2 p-6">
</div>