<div class="content-wrapper max-w-screen-lg mx-auto mt-8 sm:mt-0">
    <div class="inner-content-wrapper  relative w-auto rounded-sm min-h-screen border-2 p-6">
        <slot />
    <div />
</div>

<style>
.inner-content-wrapper {
    background-color: #f2f2f2 ;
    color: black;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}