<footer class="text-xs h-6 w-full fixed bottom-0 flex-row flex justify-center text-center text-white text-white bg-black">
	<p class="align-center">© Barely There Records 2023</p>
</footer>


<style>
	footer {
		font-family:dotgothic16
	}
</style>
