<footer class="mt-4 text-xs flex-row flex justify-center bottom-full text-white">
	<p>© Barely There Records 2021</p>
</footer>

<style>
	footer {
		position: absolute;
		bottom: 0;
		width: 95%;
	}

	p {
		position: absolute;
		font-size: 0.75rem;
		text-align: center;
	}
</style>