<footer class="text-xs h-6 w-full fixed bottom-0 flex-row flex justify-center text-justify text-white ">
	<p class="align-center">© Barely There Records 2023</p>
</footer>

<style>
	footer {
	}

	p {
		position: absolute;
		font-size: 0.75rem;
		text-align: center;
		bottom: 0;
		width: 100%;
	}

</style>