---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
  viewTransition?: boolean;
}

const { title, viewTransition } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Barely There Records">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Barely There | {title}</title>
    <ViewTransitions/>

</head>
