---

import Navbar from './Navbar.astro';

interface Props {
	subtitle: string;

} 


const {subtitle} = Astro.props;


---

<header class="banner flex p-2 mb-4 justify-center pointer-events-none">
	<h1 class="text-7xl sm:text-7xl md:text-8xl ">barely there</h1>
</header>

<style>
	header {
		font-family: dotgothic16;
	}
</style>