---
import Logo from "./Logo.astro";
import Navbar from "./Navbar.astro";

interface Props {
	current: string;
}

const { current } = Astro.props;
---

<header
	class=`banner fixed flex justify-center w-full py-3 z-20 bg-white  bg-opacity-90`
>
	<div class="w-content justify-center items-center grid grid-cols-header sm:grid-cols-header-sm sm:gap-4 scroll:grid-cols-0  align-center transition-[font-size] text-1200 scroll:text-600">
		<a href="/" class="col-start-2 h-[6em] w-[7em] sm:w-[9em]">
			<Logo
				fill="#000"
			/>
		</a>
		<Navbar current={current} />
	</div>
</header>

