---
interface Props {
	current: string;
}

const {current} = Astro.props;

const links = [
    {
        text: 'Home',
        href: '/',
    },
    {
        text: 'Projects',
        href: '/projects',
    },
    {
        text: 'Music',
        href: '/music',
    },
    {
        text: 'Blog',
        href: '/blog',
    },
];

const checkUrl = (url: string, href: string) => {
    if (url === href) {
        return 'active';
    }
    return '';
};
---
<div class="navbar text-white pt-2 pl-4 mb-2 sm:flex sm:flex-row sm:justify-center">
    <nav class="navbar-inner">
        <ul class="sm:flex sm:flex-row sm:justify-center max-w-screen-lg">
            {links.map((link, index) => (
                <a href={link.href}>
                    <li class={`nav-item ${index > 0 ? 'mt-4 ml-6' : 'mt-4 ml-6 sm:ml-0'} pl-2 sm:px-4 sm:pb-px sm:text-2xl ${checkUrl(link.href, current)}`}>
                        {link.text}
                    </li>
                </a>
            ))}
        </ul>
    </nav>
</div>

<style>

    .navbar {
        z-index: 1;
        overflow: clip;
        padding-bottom: 4px;
        font-family: dotgothic16;
    }

    @media (min-width: 640px) {
        .nav-item:hover:before {
            /* box-shadow: inset -1px 0 0 0 rgb(255, 255, 255) ; */
        }
    }

    .nav-item {
        border-radius: 2px;
        background-color: black;
    }

    .nav-item:hover, .active {
        box-shadow: inset -1px 0px 0px 2rem rgba(255, 255, 255, 0.219);
        transition: box-shadow 0.1s;
        position: relative;
        background: black;
    }

</style>
