---
interface Props {
	current: string;
}

const { current } = Astro.props;

const links = [
	{
		text: "releases",
		href: "/releases",
	},
	{
		text: "shows",
		href: "/shows",
	},
	{
		text: "blogs",
		href: "/blogs",
	},
	{
		text: "tv",
		href: "/tv",
	},
	{
	    text: 'zines',
	    href: '/zines',
	},
];

const setActive = (url: string, href: string) => {
	if (url === href) {
		return "active";
	}
	return "";
};
---

	<nav class="col-start-3">
		
		<ul
			class=`grid grid-cols-${links.length} scroll:hidden`
		>
			{
				links.map((link, index) => (
					<a href={link.href} >
						<li
							class={
									`nav-item flex justify-center ${	index > 0 ? "mt-4 " : " ml-6 sm:ml-0 sm:mt-4"} sm:px-4 mx-1
									${setActive(link.href, current)}
								`}
						>
							{link.text}
						</li>
					</a>
				))
			}
		</ul>
	</nav>

<style>
	.nav-item:hover,
	.active {
		box-shadow: inset px 0px 0px 2rem rgba(255, 255, 255, 0.219);
		transition: box-shadow 0.1s;
		background: black;
		color: #fff;
	}
</style>
