---
interface Props {
	current: string;
}


const {current} = Astro.props;

const links = [
    {
        text: 'home',
        href: '/',
    },
    {
        text: 'releases',
        href: '/releases',
    },
    {
        text: 'shows',
        href: '/shows',
    },
    {
        text: 'blogs',
        href: '/blogs',
    },
    {
        text: 'zines',
        href: '/zines',
    },
];

const checkUrl = (url: string, href: string) => {
    if (url === href) {
        return 'active';
    }
    return '';
};
---
<div class="navbar mt-24 text-black bg-white rounded-md fixed right-2 top-22 sm:static sm:flex sm:flex-row sm:justify-center sm:text-xl md:text-xl lg:text-2xl ">
    <nav class="navbar-inner sm:pb-4 sm:bg-[#fff]">
        <ul class="grid justify-items-end sm:flex sm:flex-row sm:justify-center ml-4 ">
            {links.map((link, index) => (
                <li class={`nav-item ${index > 0 ? 'mt-4 ' : ' ml-6 sm:ml-0 sm:mt-4'} sm:px-4    ${checkUrl(link.href, current)}`}>
                    <a href={link.href}>
                        <div>
                            {link.text}
                        </div>
                    </a>
                </li>
            ))}
        </ul>
    </nav>
</div>

<style>
    .navbar {
        z-index: 1;
        font-family: dotgothic16;

    }

    .navbar-inner{
    }

    .nav-item:hover, .active {
        box-shadow: inset px 0px 0px 2rem rgba(255, 255, 255, 0.219);
        transition: box-shadow 0.1s;
        background: black;
        color: #fff;
    }
</style>
