---

import BlogHeader from '@components/BlogHeader.astro';
import BlogContent from '@components/BlogContent.astro';

interface Props {
	blogTitle: string;
	current: string;
	layout: string;
    meta: {
		title: string;
		description: string;
		date: string;
		readingTime: string;
		tags: string[];
		image: string;
	}
}

const { blogTitle, layout, meta } = Astro.props;


---

<main class="w-auto h-[100dvh] bottom-20 sm:flex sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96">
	<div class="mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32 xxl:mx-40 2xl:mx-48 bg-white rounded-lg shadow-md p-8"> 
            <BlogHeader post={meta}/>
            <BlogContent>
                <slot />
            </BlogContent>
	</div>
</main>

<!-- <main class="w-auto h-[100dvh] sm:flex sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96">
		<div class="px-6 pb-12">
			 <BlogHeader post={meta}/>
            <BlogContent>
			<slot />
		</div>
</main> -->

<style>
	main{
		min-height: calc(100vh - 20.5rem);
	}
</style>