---

import BlogHeader from '@components/BlogHeader.astro';
import BlogContent from '@components/BlogContent.astro';

interface Props {
	blogTitle: string;
	current: string;
	layout: string;
    meta: {
		title: string;
		description: string;
		date: string;
		readingTime: string;
		tags: string[];
		image: string;
	}
}

const { blogTitle, layout, meta } = Astro.props;


---

<main class="w-auto mr-0 sm:mr-inherit sm:grid sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96
">
		<div class="mr-4 sm:mx-0 mb-12">
            <BlogHeader post={meta}/>
            <BlogContent>
                <slot />
            </BlogContent>
		</div>
</main>

<style>
	main{
		min-height: calc(100vh - 20.5rem);
	}
</style>