---

import BlogHeader from '@components/BlogHeader.astro';
import BlogContent from '@components/BlogContent.astro';
import { fade } from "astro:transitions";

interface Props {
	blogTitle: string;
	current: string;
	layout: string;
    meta: {
		title: string;
		description: string;
		date: string;
		readingTime: string;
		tags: string[];
		image: string;
	}
}

const { blogTitle, layout, meta } = Astro.props;


---

<main class="w-auto h-full sm:flex sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96" transition:animate={fade({ duration: '0.6s' })}>
	<div class="px-6 mb-20 bg-white rounded-lg shadow-md container "> 
            <BlogHeader post={meta}/>
            <BlogContent>
                <slot />
            </BlogContent>
	</div>
</main>

<style>
	main{
	}
</style>