---
// This is the default layout. It is used for all pages that don't specify a layout in their front matter.
---

<main class="w-full min-h-full bg-white pt-72">
	<div class="grid">
		<slot />
	</div>
</main>
