<main class="w-auto sm:flex sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96">
		<div class="px-6 ">
			<slot />
		</div>
</main>

<style>
	main{
		/* min-height: calc(100vh - 20.5rem); */
	}
</style>