<main class="w-auto mr-20 sm:mr-inherit sm:flex sm:mt-14 sm:mx-8 md:mx-32 lg:mx-44 xl:mx-56 xxl:mx-72 2xl:mx-96">
		<div class="mx-4 sm:mx-0">
			<slot />
		</div>
</main>

<style>
	main{
		font-family: dotgothic16;
		min-height: calc(100vh - 20.5rem);
	}
</style>