--- 
import Head from '../components/Head.astro';
import '@fontsource/dotgothic16';
import ContentLayout from '../layouts/ContentLayout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import fs from 'fs';

interface Props {
	title: string;
	current: string;
	layout: string;
}

const { title, current, layout } = Astro.props;

// Dynamically import the layout based on the layout prop
const layoutName = layout.charAt(0).toUpperCase() + layout.slice(1).toLowerCase();
const Wrapper = await import(`../layouts/${layoutName}Layout.astro`);


---

<!DOCTYPE html>
<html lang="en">
	<Head title={ title } />
	<body>
		<Header subtitle={title} current={current}/>
		<Wrapper.default>
			<slot />
		</Wrapper.default>
		<Footer/>
	</body>
</html>


<style is:global>
	html {
		background-color: #f2ebebff;
		
	}
	body {
		font-family: dotgothic16;
	}
</style>

