--- 
// Fonts
import '@fontsource/dotgothic16';
import '@fontsource/young-serif'

// Local imports
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

// Types
interface Props {
	title: string;
	current: string;
	layout: string;
	meta?: object
}


const { title, current, layout, meta } = Astro.props;

const layoutName = layout.charAt(0).toUpperCase() + layout.slice(1).toLowerCase();
const Wrapper = await import(`../layouts/${layoutName}Layout.astro`);

---

<!DOCTYPE html>
<html lang="en">
	<Head title={ title }
	/>
	<body>
		<Header subtitle={title} current={current}/>
		<Wrapper.default meta={meta} >
			<slot name="subtitle"/>
			<slot name="content"/>
		</Wrapper.default>
		<Footer/>
	</body>
</html>


<style is:global>
	html {
		background-color: #f2ebebff;
		
	}
	body {
		font-family: '', serif;
}
</style>

